.resume__parent{
    padding: 2rem 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2{
    font-size: 2.4rem;
    margin: 0px;
}

hr{
    width: 100%;
}

.section__body{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.resume__parent div:nth-child(n) h4{
    font-size: 1.6rem;
    margin: 0px;
}

.section__body{
    max-width: 100%;
}

.section__body div:nth-child(n){
    max-width: 100%;
    padding: 1.4rem;
    box-shadow: 0px 0px 9px 1px var(--box-bg);
    background-color: var(--box-bg);
}

.section__info strong, .section__info h5, .section__info p{
    margin: 0px;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

.section__info strong{
    font-size: 1.4rem;
}

.section__info h5{
    font-size: 1.2rem;
    font-weight: 600;
}

.section__info p{
    font-weight: 300;
}

.skills__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: center;
}

.skills__grid div:nth-child(n){
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    gap: 12px;
    box-shadow: 0px 0px 9px 1px var(--box-bg);
    background-color: var(--box-bg);
}

.Skill__box .icon{
    font-size: 1.2rem;
    display: flex;
}


@media (max-width: 768px){
    .resume__parent{
        padding: 1.2rem 1.6rem;
        gap: 1.2rem;
    }

    h2{
        font-size: 2rem;
    }

    .section__body div:nth-child(n){
        padding: 1.2rem;
    }

    .section__info strong{
        font-size: 1.2rem;
    }
    
    .section__info h5{
        font-size: 18px;
        font-weight: 500;
    }

    .skills__grid{
       display: grid;
       grid-template-columns: repeat(2, auto);
    }
}