
  .group {
    position: relative;
  }
   
  .form .group label {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: transparent;
    transition: all .3s ease;
  }

  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #fff;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -20px;
    left: 0px;
    padding: 0px 8px;
    font-weight: 600;
    font-size: 14px;
  }

  
   @media screen and (max-width: 600px){
    .contact-container{
      width: 100%;
    }
    .contact-card{
      width: 90%;
    }
   }