
  .group {
    position: relative;
  }
   
  .form .group label {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: transparent;
    transition: all .3s ease;
  }

  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #fff;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -20px;
    left: 0px;
    padding: 0px 8px;
    font-weight: 600;
    font-size: 14px;
  }

  .fancy {
    outline: none;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #DDE6ED;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .top-key {
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    /* background: white; */
   }
   
   .fancy:hover .text {
    /* color: white; */
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

  
   @media screen and (max-width: 600px){
    .contact-container{
      width: 100%;
    }
    .contact-card{
      width: 90%;
    }
   }