
.card__footer{
    background-color: #fff;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__socials{
    background-color: #fff;
    height: 3rem;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card__footer a, .footer__socials a{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--secondary-bg);
}
