
@media (max-width: 768px){
    .projects__parent{
        padding: 12px 1.2rem;
        gap: 1.2rem;
    }

    .project__box{
        display: flex;
        flex-direction: column;
    }

    .project__header{
        padding: 16px 18px !important;
        border-left: 4px solid var(--primary-bg);
    }

    .project_box__1 h2{
        font-size: 20px;
        font-weight: 700;
    }

    .project_box__1 h3{
        font-size: 18px;
        font-weight: 400;
    }

    .project_box__1 p{
        padding: 0px 1rem !important;
    }
}
