.projects__parent{
    padding: 2rem 12rem;
    gap: 2rem;
}

.projects__container{
    gap: 2rem;
}

.project__box{
    display: grid;
    grid-template-columns: 7fr 5fr;
    background-color: var(--text-color);
    min-height: 24rem;
    box-shadow: 0px 0px 9px 1px var(--primary-bg);
}

.project_box__1 h3{
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary-bg);
}

.project__header{
    border-left: 12px solid var(--primary-bg);
}

.project_box__1 h2{
    color: var(--secondary-bg);
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-bg);
}

.project_box__1 p{
    text-align: center;
}

.project_box__1 a{
    color: var(--primary-bg);
    letter-spacing: 1px;
}

.project_box__2{
    max-height: 24rem;
    background-color: var(--primary-bg);
    overflow: hidden;
}

@media (max-width: 768px){
    .projects__parent{
        padding: 12px 1.2rem;
        gap: 1.2rem;
    }

    .project__box{
        display: flex;
        flex-direction: column;
    }

    .project__header{
        padding: 16px 18px !important;
        border-left: 4px solid var(--primary-bg);
    }

    .project_box__1 h2{
        font-size: 20px;
        font-weight: 700;
    }

    .project_box__1 h3{
        font-size: 18px;
        font-weight: 400;
    }

    .project_box__1 p{
        padding: 0px 1rem !important;
    }
}
