
.home__logo img{
    width: 2.4rem;
}

.home__logo a{
  gap: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.page__paths ul{
  list-style: none;
  gap: 3rem;
}

.toggle{
    display: none;
}

.fixed-nav {
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

@media (max-width: 768px){
  .lastname{
    display: none;
  }

  .toggle{
    display: flex !important;
  }
  
  .menu_close{
    display: none !important;
  }

  .menu_open{
    top: 9%;
    z-index: 999;
    left: 0;
    background-color: var(--primary-bg);
  }

  .menu_open li a{
      color: aliceblue !important;
      padding: 2rem;
  }
}