.navbar{
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    align-items: center;
}

.home__logo a{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}

.page__paths ul{
    list-style: none;
    gap: 3rem;
    padding: 0px;
}

.menu_close{
    display: flex;
}

.page__paths ul li a{
    text-decoration: none;
    color: #000;
}

.toggle{
    display: none;
}

@media (max-width: 768px){
    .lastname{
        display: none;
    }

    .toggle{
        display: flex;
    }
    .menu_close{
        display: none;
    }
    .menu_open{
        display: flex;
        position: absolute;
        top: 10%;
        z-index: 999;
        left: 0;
        margin: 0px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: var(--primary-bg);
        height: 100%;
        padding-top: 3rem !important;
    }


    .menu_open li a{
        color: aliceblue !important;
        padding: 2rem;
    }

}
