

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  align-items: center;
}

.fixed{
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
}

.home__logo{
    max-height: 2rem;
}

.home__logo img{
    height: 100%;
    width: 2.4rem;
}

.home__logo a{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}

.page__paths ul{
    list-style: none;
    gap: 3rem;
    padding: 0px;
}

.menu_close{
    display: flex;
}

.page__paths ul li a{
    text-decoration: none;
    color: #000;
}

.toggle{
    display: none;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

@media (max-width: 768px){
    .lastname{
      display: none;
    }

    .toggle{
      display: flex !important;
    }
    .menu_close{
      display: none;
    }

    .menu_open{
      display: flex;
      position: fixed;
      top: 9%;
      z-index: 999;
      left: 0;
      margin: 0px;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      background-color: var(--primary-bg);
      padding-top: 3rem !important;
    }


    .menu_open li a{
        color: aliceblue !important;
        padding: 2rem;
    }

}




#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--primary-bg);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }