

.madeby span:nth-child(n){
    display: flex;
    align-items: center;
    gap: 6px;
} 

@media (max-width: 768px){
    .footer__parent{
        flex-direction: column-reverse;
    }

    .madeby{
        align-items: center;
    }

    .footer__socials{
        width: 100% !important;
    }
}