:root{
  --primary-bg: #27374D;
  --secondary-bg: #015f7a;
  --font-color: #a2acbd;
  --text-color: #ddf2ff;
  --box-bg: #c2c9d5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body{
  padding: 0px;
  margin: 0px;
}

*{
  font-family: poppins;
}