:root{
  --primary-bg: #27374D;
  --secondary-bg: #56667e;
  --font-color: #a2acbd;
  --text-color: #ddf2ff;
  --box-bg: #8c939e;
  --secondary-text-color: #3e4756;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body{
  padding: 0px;
  margin: 0px;
}

/* *{
  font-family: poppins;
} */

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #000;
}

.card__footer a, .footer__socials a{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--secondary-bg);
}
