
@media (max-width: 768px){

    /* N A V B A R */
  
    .lastname{
      display: none;
    }
  
    .toggle{
      display: flex !important;
    }
    
    .menu_close{
      display: none !important;
    }
  
    .menu_open{
      top: 9%;
      z-index: 999;
      left: 0;
      background-color: var(--primary-bg);
    }
  
    .menu_open li a{
        color: aliceblue !important;
        padding: 2rem;
    }
  
  
    /* H O M E * P A G E */
  
    .home__parent{
      flex-direction: column;
  }
  
  .home_section__1{
      background-color: #fff;
      min-height: 40vh;
  }
  
  .profile__card{
      right: 10%;
  }
  
  .profile__name h2{
      font-weight: 600;
      letter-spacing: 2px;
  }
  
  .home_section__2{
      padding: 0px;
      padding-top: 14rem !important;
      padding-bottom: 3rem;
      color: var(--text-color);
      background-color: var(--secondary-bg);
  }
  
  .home_section__2 h1, .home_section__2 h3, .home_section__2 p{
      margin: 0px;
      padding: 0px 2rem;
  }
  
  .home_section__2 p{
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
  }
  
  .home__buttons{
      gap: 3rem;
      justify-content: space-evenly;
  }
  
  .home__buttons a:nth-child(n){
      border: 2px solid var(--text-color);
      color: var(--text-color);
  }
  
    /* R E S U M E * P A G E */
  
    .resume__parent{
      padding: 1.2rem 1.6rem;
      gap: 1.2rem;
  }
  
  h2{
      font-size: 2rem;
  }
  
  .section__body div:nth-child(n){
      padding: 1.2rem;
  }
  
  .section__info strong{
      font-size: 1.2rem;
  }
  
  .section__info h5{
      font-size: 18px;
      font-weight: 500;
  }
  
  .skills__grid{
     display: grid !important;
     grid-template-columns: repeat(2, auto);
  }
  
    /* P R O J E C T S * P A G E */

    .projects__parent{
        padding: 12px 1.2rem;
        gap: 1.2rem;
    }

    .project__box{
        display: flex;
        flex-direction: column;
    }

    .project__header{
        padding: 16px 18px !important;
        border-left: 4px solid var(--primary-bg);
    }

    .project_box__1 h2{
        font-size: 20px;
        font-weight: 700;
    }

    .project_box__1 h3{
        font-size: 18px;
        font-weight: 400;
    }

    .project_box__1 p{
        padding: 0px 1rem !important;
    }

    /* F O O T E R * P A G E */
    .footer__parent{
        flex-direction: column-reverse;
    }

    .madeby{
        align-items: center;
    }

    .footer__icons{
        width: 100% !important;
    }
  }